<style>
.mySlides {display:none;}
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 6px}
.w3-row-padding img {margin-bottom: 12px}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;

}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}
</style>


* {
    box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.container {
    border-radius: 0px;
    background-color: #ffffff;
    padding: 10px;
    
}
/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
    background-color: #fff;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #fff;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
        background-color: #fff;
    }
}

.container {
    position: relative;
    width: 100%;
    background-color: #fff;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #3498db;
    z-index: 2;
    transform: scale(1);


}
.overlay-image{}
.overlay-image:hover {

    transition: .5s ease;
    z-index: 3;
    transform: scale(1.5);
    /*       transform: translate(0, -5%);
    */
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

#socialicon:hover { 
    position:relative;
    transform: translate(0, -25%);
    transition: all .2s ease;
    color: #3498db;
}

html {
    scroll-behavior: smooth;
}
#home {

}

#portfolio {

}
#contact {

}
#about {

}

/* side bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #3498db;
}
.socialicon a:hover {
    color: #3498db;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .8s;
    padding: 16px;
    margin-top: 60px
}


@media screen and (max-height: 450px) {
    .whole {width: 50%;}
    .whole a {font-size: 18px;}

}
#float-button {
    z-index: 2;
    overflow: hidden;
    transition: all 1s;
    color: #3498db;
    left: 25px;
    position: fixed; /* Set the navbar to fixed position */
    top: 5px; /* Position the navbar at the top of the page */

}
:focus {
    outline: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

}
/* side bar */


/* HEADER 
#header {
top: 0;
position: fixed;
text-align: center;
transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
}

*/


#navbar {
    background-color: #333; /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}
.icon-background {
    color: #c0ffc0;
}



.circle-responsive {
    background: #ddd;
    border-radius: 50%;
    height: 0;
    padding-bottom: 5%;
    width: 5%;
    position: sticky;
    top: 0;


}





/* width */
::-webkit-scrollbar {
    width: 1.5%;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3498db; 
}



#profilepic{
    width: 90%;
    padding: 10px
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 1vh;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

.bg {
    /* The image used */
    background-image: url("bg.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, #FFFFFF, #F1F1F1);
}





/* Style the body */

.hero {
    padding: 60px;
    width: 100vw;
    height: 50vh;
    text-align: center;
    background: url("images/profile2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;



}
.hero-text {
    font-size: 4rem;
    font-weight: 100;

    color: white;
}
.hero-content {
    position: relative;
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
body {
    margin: 0;
    padding: 0;
}

/* Page Content */
/*----------------------------------------------------*/



.module {
    background: 
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1)
        ),
        url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/skyscrapers.jpg);
    width: 50%;
    height: 50%;
    position: relative;
    overflow: hidden;
    margin: 20px;
}
.module > header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
}
.module > header > h1 {
    margin: 0;
    color: white;
    text-shadow: 0 1px 0 black;
}

* {
    box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
    border: 0px solid;

    width: 50%;
    padding: 0px;
    overflow: auto;  
}

.containerproj{
    width: 200%;
    display: flex;
    justify-content: center;    /* Change this */
    flex-wrap: wrap;
    padding: 1%
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: black;
}
.row{
    padding: 0.5% 1%;
    display: flex;

    justify-content: center;    /* Change this */
    flex-wrap: wrap;

}


.textcont{
    flex: 1;
    background-color: black;
    padding: 4%;
    width: 100%;
    overflow: auto;  

    position: relative;
    /*overflow: hidden;*/






}
.textcont  > h1 {
    margin: 0;
    color: white;
    text-shadow: 0 1px 0 white;
}



.imgcont{

    background: 
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 5)
        ),
        url('https://jackdaly.github.io/images/drawing (6).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

    height: 100%;

    position: relative;
    overflow: hidden;
}


.buttonproj {
    background-color: transparent;
    color: white;
    align-content: center;
    padding: 1%;
    border: 3px solid white;

}

.buttonproj:hover {
    background-color: #555555;

    color: white;
}

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://jackdaly.github.io/images/background.jpg");

    /* Set a specific height */
    /* Position and center the image to scale nicely on all screens */
    /* Full height */
    height: 150%; 
    width: inherit;

    /* Create the parallax scrolling effect */

    background-position: 50% 50%; 
    background-repeat: no-repeat;

    background-size: cover;
}


/*
.whole{
width: 1500px;

}

@media screen and (max-width: 720px) {
.hero-image {width: 75%;}
.id{width: 75%;}
}
@media screen and (min-width: 720px) {
.hero-image {width: 100%;}
.id{width: 100%;}
}
*/

.DeskHide { display: inline; }

/* Smartphone Portrait and Landscape */
@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){
        .DeskHide { display: none;}
}
/*--------------
#content-desktop {display: inline;}

#content-mobile {display: none;}

@media only screen and (max-width: 600px) {

#content-desktop {display: none ;}
#content-mobile {display: inline;}

}
*/
/*----*/
.content-desktop{
    display: inline;
}
.content-mobile{

}
@media only screen and (max-width: 600px) {
    .content-desktop{
        display: none;
    }
    .content-mobile{
        display: inline;
    }

}

#mainphoto{
    width:17%;
    transform: translate(0, 20vh);
    border-radius: 50%;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);

}
@media only screen and (max-width: 800px) {
    #mainphoto{
        width:30%;
        transform: translate(0, 20vh);
        border-radius: 50%;"

    }
}
@media only screen and (min-width: 1500px) {
    #mainphoto{
        width:13%;
        transform: translate(0, 20vh);
        border-radius: 50%;"

    }
}




.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    align-content: center;

}
.iframe-container iframe{
    position: absolute;
    top:0;
    
    left: 0;
    width: 100%;
    height: 100%;
}
